.remove{
  display: flex;
  justify-content: flex-end;
}

.card{
  margin:25px;
  height: 300px;
  // width: 300px;
};

// .hidden{
//   display: none;
// }

 h1 .card-title{
  align-self: center;
  position: absolute;
}