#test{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;
}

#planet{
  display: flex;
  justify-content: center;
}

.full{
  margin: 50px;
}


.name-pic{
  margin: 25px;
  height: 300px;
  width: 300px;
  *{
    pointer-events: none;
  }
}

.remove{
  display: flex;
  justify-content: flex-end;
}

.hide{
  display: none;
}
