@import "~bootstrap/scss/bootstrap";

body{
  background-color: lightgray;
}

.card-img-top{
  border-radius:15px;
  padding:10px;
};


.img{
  height: 200px;
  width: 200px;
};

#input-info{
  background-color: lightgreen;
  width: 400px;
};

#input-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 0 0 0;
};