@import "~bootstrap/scss/bootstrap";

// body{
//   background-color: lightgray;
// }

#input-info{
  background-color: lightgreen;
  width: 400px;
};

#input-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 0 0 0;
};

.card{
  background-color: black;
  color: darkred;
}

#main-title{
  text-align: center;
  margin: 35px;
}

.card-title{
  display: flex;
  justify-content: center;
}