@import "~bootstrap/scss/bootstrap";

body{
  background-color: lightgray;
}

.hidden{
  display: none;
};

.card-img-top{

  border-radius:15px;
  padding:10px;
}


.img{
  height: 200px;
  width: 200px;
}